<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">List stores</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Province</th>
                                <th scope="col">Canton</th>
                                <th scope="col">District</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Manager ID</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Ciclo para ver productos en lista -->
                            <tr *ngFor="let store of stores">
                                <td>
                                    {{store.suc_id}}
                                </td>
                                <td>
                                    {{store.suc_nombre}}
                                </td>
                                <td>
                                    {{store.provincia}}
                                </td>
                                <td>
                                    {{store.canton}}
                                </td>
                                <td>
                                    {{store.distrito}}
                                </td>
                                <td>
                                    {{store.telefono}}
                                </td>
                                <td>
                                    {{store.gerente_id}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" (click)="handleEdit(store.suc_id)"> Editar
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="handleDelete(store.suc_id)"> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>


<!--Modal-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title align-center"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body text-center">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone: </span>
                    </div>
                    <input [(ngModel)]="newPhone" type="text" class="form-control" aria-label="contactnumber">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Manager ID: </span>
                    </div>
                    <input [(ngModel)]="newManager" type="text" class="form-control" aria-label="contactnumber">
                </div>

                <button type="button" class="btn btn-dark" (click)="handleSave()">Ok</button>

            </div>
        </div>
    </div>
</div>