<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">List products</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Provider ID</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Ciclo para ver productos en lista -->
                            <tr *ngFor="let product of products">
                                <td>
                                    {{product.nombre}}
                                </td>
                                <td>
                                    {{product.marca}}
                                </td>
                                <td>
                                    {{product.costo}}
                                </td>
                                <td>
                                    {{product.proveedor_id}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" (click)="handleEdit(product.nombre)"> Editar
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="handleDelete(product.nombre)"> Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>


<!--Modal-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title align-center"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body text-center">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">₡</span>
                    </div>
                    <input [(ngModel)]="cost" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <button type="button" class="btn btn-dark" (click)="handleSave()">Ok</button>

            </div>
        </div>
    </div>
</div>